:root {
    --intro-h1: #484B57;
    --heading2-type2: white;
    --heading3: #FF594E;
    --text-content: #3B4157;
    --text2-content:white;
    --articleBg: white;
    --intro-subtitle-text: white;
    --teste3: #F5F5F5;
    --intro-subtitle-background: #1FAB36;
    --functionActive-text: #1FAB36;
    --cardBox-bg: white;
    --card-Quant-packages-title: #606160;
    --card-Quan-packages-unselected: #e6e7e7;
    --card-Quan-packages-unselected-text: #a6a7a7;
    --card-Quan-packages-hover: #1FAB36;
    --card-title-text: white;
    --card-packages-buyNow: #FF594E;
    --backgroundColor2: #3B4157;
    --cardDescription-text: #198754;
    --footer-bg: #f5f5f5;
    --footer-text:#989dab;
}

@font-face {
    font-family: EffraBold;
    src: url(../fonts/effra_std_bd-webfont.woff
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: RobotoSlab;
    src: url(../fonts/RobotoSlab-VariableFont_wght.ttf);
}

* {
    font-size: 26px;
    margin: 0;
    padding: 0;
    color: var(--text-content);
}

p {
    font-family: EffraBold, sans-serif;
    line-height: 2;
    text-align: justify;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1,
h2 {
    font-family: EffraBold, sans-serif;
    font-size: 54px;
    color: var(--intro-h1);
}
.h2-type2{
    color: var(--heading2-type2);
}
h2 {
    font-family: Roboto, sans-serif;
    margin-bottom: 34px;
}

h3 {
    color: var(--heading3);
    margin-bottom: 80px;
}

section {
    padding: 5% 10%;
}
section.introContent{
    padding-top: 20px;
}
.introContent {
    background-image: url(../img/background-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.introContent h1 {
    font-size: 54px;
    color: var(--intro-h1);
}
.text2-content p{
    color: var(--text2-content);
}
.introContent p {
    text-align: center;
    font-size: 26px;
    font-family: Roboto, sans-serif;
    margin-bottom: 30px;
}

.introContent span {
    background-color: var(--intro-subtitle-background);
    color: var(--text2-content);
}
.VideoContent{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10%;
}
.youtubeContent {
    width: 100%;
    height: 0;
    margin: 0 auto;
    padding-bottom: 56.25%;
    position: relative;
}
.youtubeContent iframe{
    width: 100%;
    height: 100%;
    position: absolute;
}

.researchSkin{
    height: 100%;
    background-image: url(../img/doutor-rafael.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    padding-bottom: 0;
}

.researchSkinContent {
    display: flex;
    position: relative;
}
.researchSkinContent article {
    background-color: var(--articleBg);
    width: 55%;
    text-align: justify;
    padding-bottom: 80px;
}


.packagesPriceSection {
    height: 840px;
    
    background-color: var(--teste1);
    background-size: cover;
}

.uniqueOffer {
    background-image: url(../img/mark.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.uniqueOffer h2 {
    color: var(--heading2-type2);
    font-size: 30px;
    margin-bottom: 0;
    margin: 20px 0;
}

.packagesOptions h2 {
    margin-top: 0;
    margin-bottom: 32px;
    color: var(--heading2-type2);
}

.packagesOptionsContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 82px;
    gap: 5px;
}

.card-box {
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 460px;
    padding: 30px 24px;
    border-radius: 20px;
    background-color: var(--cardBox-bg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-box-signature{
    display: flex;
    flex-direction: column;
    width: 375px;
    height: fit-content;
    padding: 30px 2%;
    border-radius: 20px;
    background-color: var(--cardBox-bg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--card-Quant-packages-title);
    border-radius: 10px;
    color: var(--card-title-text);
    margin-bottom: 20px;
    padding: 15px 5%;
    font-family: Effrabold, sans-serif;

}

.card-buttonOption {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 38px;
}

.card-buttonOption button {
    cursor: pointer;
    display: flex;
    color: var(--card-Quan-packages-unselected-text);
    background-color: var(--card-Quan-packages-unselected);
    border: var(--card-Quan-packages-unselected);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 80px;
    transition: .3s;
}

.card-buttonOption button:hover {
    color: var(--text2-content);
    background-color: var(--card-Quan-packages-hover);
    border: var(--card-Quan-packages-hover);
    transform: scale(1.1);
}

.card-description {
    align-items: center;
    text-align: center;
    justify-content: center;
}
.card-description p{
    text-align: center;
}

.card-box-signature ul {
    list-style-image: url(../img/check-icon.png);
    padding-left: 40px;
}
.card-box-signature li{
    color: var(--text-content);
    font-family: Roboto, sans-serif;
    align-self: center;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 20px;
}

.card-description p {
    color: var(--cardDescription-text) ;
}

.card-buyNow {
    margin-top: 30px;
    color: var(--text2-content);
    width: 320px;
    height: 40px;
    background-color: var(--card-packages-buyNow);
    border: var(--card-packages-buyNow);
    border-radius: 20px;
    transition: .3s;

}

.card-buyNow:hover {
    cursor: pointer;
    transform: scale(1.1);

}
.cardDescriptionDiscount{
    height: fit-content;
    display: flex;
    background-color: #e5e7e7;
    
}
.cardDescriptionDiscount p{
    color: var(--text-content);
    margin-bottom: 5%;
}
.checkmarkDiscount {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.guaranteeBox {
    padding: 10% 5%;
    display: flex;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: justify;

}

.guaranteeBox img {
    margin-right: 40px;
}

.guaranteeBox p {
    padding-bottom: 15px;
    line-height: 1.5;
}
.ActiveResultContent p{
    font-size: 14px;
}
.functionActive{
    display: flex;
    justify-content: center;
    text-align: justify;
}
.functionActiveText{
    padding: auto;
}
.functionActiveText p{
    margin-bottom: 20px;
}
.functionActiveText p, li{
    font-size: 25px;
}
.functionActive ul{
    margin-left: 30px;
}

.functionActive li {
    color: var(--functionActive-text);
    margin-bottom: 35px;
}

.functionActive li span {
    color: var(--text-content);
}

.flexActiveResult {
    display: flex;
    justify-content: center;
}

.activeResult {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
}
.QuestionsActive{
    background-color: var(--backgroundColor2);
    
}
.activeDoubt {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}
.activeDoubt button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    gap: 20px;
}
.activeDoubt span{
    color: var(--card-packages-buyNow);
}
.activeAnswer p{
    color: var(--text2-content);
}
.functionActiveContent{
    margin-bottom: 95px;
}
.footerContent{
    background-color: var(--footer-bg);
    margin: 0;
}
footer p{
    color: var(--footer-text);
}